body{
	background: rgb(242,242,242);
}
.container{
	width: 850px;
	height: 470px;
	margin: 60px auto;
	background: white;
}
.logo{
	width: 156px;
	height: 55px;
	margin: 30px 40% 10px 40%;
	overflow: hidden;
}
.logo img{
	margin-top: -55px;
}
.dlfs{
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
}
.dlfs span:nth-child(1){
	color: rgb(225,49,31);
}
.form-group input{
	width: 360px;
	height: 50px;
	font-size: 12px;
	margin: 0 10px 10px 28%;
	border-radius: 0;
	display: inline-block;
}
.fg1 span{
	color: red;
	font-size: 14px;
	display: none;
}
.fg2 span{
	color: red;
	font-size: 14px;
	display: none;
}
.btn1{
	width: 360px;
	height: 50px;
	margin-left: 28%;
	background: rgb(223,33,15);
	color: white;
	font-size: 25px;
	margin-bottom: 20px;
}
.container .btn:hover{
	background: rgb(223,33,15);
	color: white;
}
.zcwj{
	margin-left: 55%;
	font-size: 14px;
	margin-bottom: 20px;
}
.zcwj a:nth-child(3){
	color: black;
}
.zcwj a:nth-child(1){
	color: rgb(225,49,31);
}
.qtdl span{
	vertical-align: middle;
	margin-left: 27%;
}
.qtdl div{
	width: 30px;
	height: 30px;
	overflow: hidden;
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}
.dl2 img{
	margin-left: -87px ;
}
.dl3 img{
	margin-left: -29px ;
}
.dl4 img{
	margin-left: -58px ;
}
.dl1:hover img{
	margin-top: -29px;
}
.dl2:hover img{
	margin-top: -29px;
}
.dl3:hover img{
	margin-top: -29px;
}
.dl4:hover img{
	margin-top: -29px;
}
.foot{
	text-align: center;
	font-size: 12px;
	color: rgb(196,196,196);
}
.foot img{
	width: 12px;
}
.foot a{
	color: rgb(196,196,196);
}
